<h1>Welcome to <%= root_url %>, <%= @contact.name %></h1>

<p>Thank you for your inquiry.  We'll get back to you as soon as we can.</p>

<p>==============================</p>

<p>From: <%= @contact.name %> (<%= @contact.email %>)</p>
<p><%= @contact.comment %></p>
