<%= render 'layouts/head' %>

  <body>
    <div class="container-fluid" id="main-img" style="background-image: url('/assets/<%= controller_name %>.jpg');">
      <div id="nav" class="row v-align">
        <div class="col-6">
          <%= link_to "Vertical Tango", root_path, class: "logo" %>
          &nbsp; <span class="performer"> SANDRA FEUSI &amp; SAMUEL PYNE</span>
        </div>
        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item"><%= link_to "PERFORMANCES", performances_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "BOOK A SHOW", bookings_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "GALLERY", galleries_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ABOUT", abouts_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "CONTACT US", contacts_path, class: "nav-link" %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main">
      <%# flash.each do |key, value| %>
        <!-- <strong><%#= content_tag :div, value, class: "flash #{key}" %></strong> -->
      <%# end %>
      <%= yield %>
    </div>

    <div class="footer">
      &copy; Sandra Feusi &amp; Samuel Pyne | Site Credit: Maya Kuriki
    </div>

  </body>
</html>
